
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Quicksand', sans-serif;
 }
 main {
    flex: 1 0 auto;
  }
  footer{
      margin-top: 100px;
  }
  
.shapeCircleLeft{
    position: absolute;
    left: auto;
    top: 18%;
    right: 26%;
    bottom: auto;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    transition: transform .2s ease-in-out;
    background-color: rgba(221, 230, 247, 0.5);
}
.shapeCircleRight{
   position: absolute;
    left: auto;
    top: 38%;
    bottom: auto;
    right: 13%;
	width: 200px;
    height: 200px;
    border-radius: 100%;
    transition: transform .2s ease-in-out;
    
    background-color: rgba(238, 213, 229, 0.45);
}
.Line{
    width: 250px;
    height: 1.1px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #4353ff;
}
.shapeCircleCenter{
   position: absolute;
    transition: transform .2s ease-in-out;
    top: 18%;
    right: 0%;
	width: 200px;
    height: 200px;
    border-radius: 100%;  
    background-color: rgba(205, 232, 225, 0.5);
}
.shapePositionLeft{
    z-index: -100;
    position: absolute;
    top: 18%;
    right: 26%;
}
.shapePositionCenter{
     position: absolute;
    top: 34%;
    z-index: -100;
    right: 13%;
}
.shapePositionRight{ z-index: -100;
    position: absolute;
    top: 18%;
    right: 0%;
}
